<h1 class="text-2xl">New Ship iteration</h1>

<div class="mt-4 max-w-7xl sm:max-w-md">
    <%= render "form.html", Map.put(assigns, :action, Routes.ship_iteration_path(@conn, :create)) %>
</div>

<div class="mt-2"><%= link "Back", to: Routes.ship_iteration_path(@conn, :index), class: "text-sm px-2.5 py-1.5 rounded hover:bg-gray-200 active:bg-gray-300" %></div>
