<a href="<%= @path %>"

  class="
    px-3
    py-2
    rounded-md
    text-sm
    font-medium
        <%= if @is_active do %>
          text-white
          bg-gray-900
        <% else %>
          text-gray-300
          hover:text-white
          hover:bg-gray-700
          focus:text-white
        <% end %>
        focus:outline-none
        focus:bg-gray-700
        transition
        ease-in-out
        duration-150
  ">
    <%= @name %>
</a>
